<%- include('./partials/header') %>

<div id="columns">
    <figure>
        <a href="https://aclassictwist.com/pink-lemonade-cocktail/"><img src="https://i.pinimg.com/564x/05/62/28/056228c1d8549301bdd3ec21d629509e.jpg">
      <figcaption>Pink Lemonade Cocktail</figcaption>
      </figure>
      
      <figure>
      <a href="https://roomfortuesday.com/holiday-decor-that-lasts-through-the-new-year/"><img src="https://i.pinimg.com/564x/b0/9e/11/b09e11dfebb80ee107f39ca13f3a24fd.jpg">
      <figcaption>Mantle Styling for Home</figcaption>
      </figure>
      
    <figure>
      <a href="https://stylinbyaylin.com/outfits-of-the-week/?epik=dj0yJnU9NU5YaHlLZnEyVmt6enFUTUlUS0pQVGNFR0ZaUG9PYkYmcD0wJm49Y1BMODBncjljRFpNYWxoQTgtMjExdyZ0PUFBQUFBR1N3WTdz"><img src="https://i.pinimg.com/564x/e3/c9/77/e3c977acb54d73935894cc506d680f99.jpg">
      <figcaption>Weekday Summer Capsule Wardrobe</figcaption>
      </figure>
    
      <figure>
      <a href="https://www.instagram.com/p/CdWTAf2PNw3/?img_index=1"><img src="https://i.pinimg.com/564x/71/1c/26/711c26cb438c05d73d917db813ff522d.jpg">
      <figcaption>GelX Nails</figcaption>
      </figure>
      
     <figure>
       <a href="https://www.wellseasonedstudio.com/peach-burrata-salad/"><img src="https://i.pinimg.com/564x/7a/7a/84/7a7a84aa61c2f4f1327451c42e5c74af.jpg">
      <figcaption>Peach Burrata Salad</figcaption>
      </figure>
      
     <figure>
       <a href="https://www.anthropologie.com/shoes-heels-wedges?epik=dj0yJnU9bFdoWWtjR1RCMkZjVVRFM2JTbXQya2tVanFhQ1E0T2gmcD0wJm49V0hDcUJneUI5ZzV6UnhyQ0FNQVctdyZ0PUFBQUFBR1N3WlVN"><img src="https://i.pinimg.com/564x/0a/46/4c/0a464c1524852224c3a3fcc632ef2e8c.jpg">
      <figcaption>Heels, High Heels, and Pumps</figcaption>
      </figure>
    
      <figure>
      <img src="https://i.pinimg.com/564x/bc/11/c8/bc11c8cdea267694635b354176523c9f.jpg">
      <figcaption>Orange Almond Poopy Seed Cake</figcaption>
      </figure>	
    
     <figure>
      <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg">
      <figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
      </figure>
    
      <figure>
      <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/tiana.jpg">
      <figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
      </figure>	
    <small>Art &copy; <a href="//clairehummel.com">Claire Hummel</a></small>
      </div>

<h2>PINTACS</h2>
<div class="pins">
  <% for (let pin of pins) { %>
    <div class="pin">
      <img src="<%= pin.image %>" alt="<%= pin.title %>">
      <h3><a href="/pintacs/pin/<%= pin.id %>" <%= pin.title === 'All pins' ? 'class="active"' : '' %>><%= pin.title %></a></h3>
      <p><%= pin.description %></p>
    </div>
  <% } %>
</div>

<%- include('./partials/footer') %>
